.recipeBox {
  margin: 10px 10px 0px 40px;
  padding-bottom: 20px;
}

.recipeBox > img {
  border-radius: 10px;
}

.cuisine {
  margin: 5px;
  display: flex;
}
.cuisine > button {
  height: 35px;
  width: 100px;
  margin: 5px;
  background-color: rgb(94, 182, 94);
}
.cuisine--form {
  height: 35px;
  margin: 5px;
}

.cuisine--option {
  font-size: 50px;
}