.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: rgba(214, 242, 6, 0.869);
  height: 30px;
  padding-right: 80px;

  .link {
    text-decoration: none;
    color: black;
  }
}
