.login--form {
  height: 800px;
  width: 1000px;
  z-index: 8;
  position: absolute;
  left:20%;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.form-box{
  width: 300px;
  background: rgb(12, 75, 18);
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    text-align: start;
  }
}

.login-box{
  border: 1px solid lightgrey;
  height: 30px;
  width: 300px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  transition: 1s;
  outline: none;
}

.login-text{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn{
  width: 100px;
  height: 40px;
  background-color: rgb(48,172,251);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 13pt;
  cursor: pointer;
}

label {
  font-size: 20px;
  color:white;
  width: 100%;
  text-align: center;
}

.form-close {
  display: flex;
  justify-content: flex-end;
}

.show {
  display: block;
  transition: 100ms;
  opacity: 1;
}

.show .active {
  transform: translateY(100px) scale(0) rotateY(180deg);
}

.error-message {
  width: 300px;
  height: 40px;
  font-size: 22px;
  color: rgb(231, 83, 83);
  text-align: center;
}

.greeting {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 62%;
}

.logout-icon, .favorite-icon {
  width: 120px;
  border: none;
  height: 40px;
  font-size: 18px;
  background:rgb(94, 182, 94, 0.6);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: white
  }
}

.logout_favorite-icon {
  display: flex;
  position: absolute;
  left: 78%;
  gap: 10px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: relative;
  padding-top: 20px;
  left: 70%;
}