.meal--form {
  display: flex;
  margin: 10px 10px 0px 40px;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    padding-left: 6px;
    font-size: 24px;
    font-weight: 600;
  }

  input {
    border-radius: 6px;
    border: none;
    height: 40px;
    width: 350px;
    margin: 5px;
  }

  button {
    height: 40px;
    width: 125px;
    margin: 5px;
    margin-top: 30px;
    background-color: rgb(94, 182, 94);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin-left: -60px;
  }
}


.meal--form {
  .selection {
    margin: 30px 100px 5px 5px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
  }
}

::-webkit-input-placeholder {
  font-size: 20px;
}
