.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 50, 3);
  height: 75px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  z-index: 90;

  .link {
    text-decoration: none;
  }

  svg {
    font-size: 35px;
    color: white;

    &:hover {
      color: lightgreen;
    }
  }
}

.nav--title {
  color: white;
  text-align: left;
  padding-left: 20px;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

.nav--login_signup button {
  background: rgba(68, 93, 19, 0.691);
  font-size: 17px;
  font-style: italic;
  border: none;
  margin: 0;
  padding: 0;
}

.nav--login_signup:hover {
  background: rgba(161, 207, 68, 0.691);
  font-weight: bold;  
}