.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 50, 3);
  height: 75px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  position: fixed;
  z-index: 1;

  .link {
    text-decoration: none;
    position: relative;
    left: 6%;
  }
  .link-home {
    position: absolute;
    left: 74%;
  }

  svg {
    font-size: 35px;
    color: white;

    &:hover {
      font-size: 40px;
    }
  }

  h2 {
    svg {
      &:hover {
        color: white;
        font-size: 35px;
      }
    }
  }
}

.nav--title {
  color: white;
  text-align: left;
  margin-right: 2em;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

.nav--options {
  display: flex;
  left: 78%;
  position: absolute;
  gap: 10px;
}

.loginicon, .signupicon {
  width: 120px;
  border: none;
  height: 40px;
  font-size: 18px;
  background:rgba(94, 182, 94, 0.6);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}