.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 50, 3);
  height: 75px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  position: fixed;
  z-index: 1;

  .link {
    text-decoration: none;
  }
  .link-home {
    margin-right: 1em;
  }

  svg {
    font-size: 35px;
    color: white;

    &:hover {
      color: lightgreen;
    }
  }
}

.nav--title {
  color: white;
  text-align: left;
  padding-left: 20px;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

.three-icons {
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}

.loginicon, .signupicon {
  width: 100px;
  margin-right: 1em;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  height: 40px;
  top: 10px;
  background:rgb(38,78,7);
  border-radius: 24px;
  cursor: pointer;
}