.result--items {
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.result--card {
  text-align: center;
  margin: 20px;
  padding: 5px;
  background: linear-gradient(25deg, rgb(114, 147, 114), rgb(187, 242, 69) );
  border-radius: 5px;

  &:hover {
    background: linear-gradient(115deg, rgb(114, 147, 114), rgb(187, 242, 69) );
    box-shadow: 2px 2px rgb(8, 22, 1);
}

  img {
    width: 90%;
    border-radius: 8px;
    margin-top: 15px;
  
    &:hover {
    box-shadow: 5px 5px rgb(114, 147, 114);
  }
  }

  .link {
    text-decoration: none;
  }

  h4 {
    color: white;
  }
}

.result--title {
  padding: 20px;
  margin-top: 100px;
}