.result--items {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.result--card {
  text-align: center;
  margin: 5px;
  background-color: rgba(126, 195, 126, 0.636);
  border-radius: 5px;

  img {
    width: 90%;
    border-radius: 8px;
    margin-top: 15px;
  
    &:hover {
    box-shadow: 6px 6px limegreen;
  }
  }

  .link {
    text-decoration: none;
  }
}
