.popular--box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100vw;

  h1 {
    font-size: 40px;
    padding-left: 100px;
  }
  .link {
    text-decoration: none;
  }
}



.popular--receipe--card {

	img {
    width: 90%;
    border-radius: 8px;
    padding: 10px;
	}

	p {
    color: rgb(99, 204, 85);
    text-align: center;
	}
}

