.details {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  h2 {
    text-align: center;
  }

  img {
    border-radius: 5px;
    text-align: center;
  }

  button {
    height: 50px;
    width: 200px;
    margin-left: 40px;
    margin-top: 26px;
    background-color: rgb(94, 182, 94);
    border-radius: 6px;
    cursor: pointer;
    gap: 5px;
    font-size: 20px;
    text-align: center;

    svg {
      font-size: 24px;
    }
  }

  .active {
    background-color: lime;
    color: red;
  }
}

.details--div {
  border: 1px solid black;
  border-radius: 5px;
  width: 90vw;
  margin: 20px;
  padding: 20px;
  background-color: rgba(126, 195, 126, 0.636);

  li {
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
  }
}
