.search--box {
  background-color: rgb(213, 242, 159);
  margin: 10px 10px 0px 40px;
  padding-bottom: 20px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}

.search--box > label {
  font-size: 20px;
}

.search {
  height: 30px;
  width: 400px;
  margin: 5px;
}

.search--btn {
  height: 35px;
  width: 100px;
  margin: 5px;
  background-color: rgb(94, 182, 94);
}