.search--box {
  padding-top: 5px;
  display: flex;
  border: 1px solid black;
}

.search--box > label {
  font-size: 20px;
}

.search {
  height: 30px;
  width: 300px;
  margin: 5px;
}

.search--btn {
  height: 35px;
  width: 100px;
  margin: 5px;
  background-color: rgb(94, 182, 94);
}