.search--box {
  display: flex;
  margin: 10px 10px 0px 40px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search--box > label {
  font-size: 20px;
}

.search {
  height: 30px;
  width: 300px;
  margin: 5px;
}

.search--btn {
  height: 35px;
  width: 100px;
  margin: 5px;
  background-color: rgb(94, 182, 94);
}